* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	font-family: arial, Calibri, serif;
	margin: 0px;
	padding: 0px;
}

nav {
	width: 100%;
	background-color: #444444;
	position: fixed;
}

nav ul{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

nav li {
	list-style-type: none;
	font-size: 20px;
	float: left;
}

nav a{
	display: inline-block;
	text-decoration: none;
	padding: 20px 30px;
	color: #FFF;
}

.accueil:hover {
	border-top: 3px solid #BBB;
	background-color: rgba(220, 220, 220, 0.15);
}

.shop:hover {
	border-top: 3px solid #BBB;
	background-color: rgba(220, 220, 220, 0.15);
}

.compte:hover {
	border-top: 3px solid #BBB;
	background-color: rgba(220, 220, 200, 0.15);
}

nav li:hover a{
	padding: 15px 30px 20px 30px;
}

.table {
	display: table;
	margin: 0 auto;
}

img {
	border: solid 2px #444444;
	height: 400px
}